@import "tailwindcss";

@theme {
    --color-theme-light: #F4F5F5;
    --color-theme-purple-1: #0A2333;
    --color-theme-purple-2: #2B2739;
    --color-theme-purple-3: #4A4D74;
    --color-theme-purple-4: #4F34FC;
    --color-theme-purple-5: #7461f1;
    --color-theme-green-1: #58E290;
    --color-theme-green-2: #90f3b8;
    --color-theme-blue: #0000ff;
    --default-font-family: 'Space Mono', monospace;
}

html {
    font-size: 1.5em;
}